name: WeighTracker
description: "Une application pour suivre son poid et être en bonne santé."
publish_to: "none"
version: 0.1.0

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter
  fl_chart: ^1.1.1
  shared_preferences: ^2.1.0
  intl: ^0.19.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  flutter_launcher_icons: ^0.13.1

flutter:
  uses-material-design: true

flutter_icons:
  android: true
  ios: true
  web: true
  image_path: "web/assets/icons/ppApplicationpng.png"
